{% extends 'base.html.twig' %}

{% block title %}Edit Externbooking{% endblock %}

{% block body %}
    <h1>Edit Externbooking</h1>

    {{ include('externbooking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('externbooking_index') }}">back to list</a>

    {{ include('externbooking/_delete_form.html.twig') }}
{% endblock %}
